<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">



<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .tt{
        	background-color: yellow; 
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div>
    	<div>
    		<p class="h2">기온관련 시각화</p>
    	</div>
    	<table class="table">
    		<tr class="tt">
    			<th>시각화1</th>
    			<th>시각화2</th>
    		</tr>
    		<tr>
    			<td><img src="/images/item/RPA01.png" alt="RPA01" /></td>
    			<td><img src="/images/item/RPA02.png" alt="RPA02" /></td>
    		</tr>
    		<tr class="tt">
    			<th>시각화3</th>
    			<th>시각화4</th>
    		</tr>
    		<tr>
    			<td><img src="/images/item/RPA03.png" alt="RPA03" /></td>
    			<td><img src="/images/item/RPA04.png" alt="RPA04" /></td>
    		</tr>
    	</table>
    </div>

</div>

</html>